   
<div class="bg-main-light p-4 m-5 rounded-1">
   <div class="d-flex justify-content-between">
    <h3>Shop Cart</h3>
    <button class="btn bg-primary my-3"> <a class="text-white" [routerLink]="['/orders',allProductsOfCart._id]">check out</a></button>
    
   </div>
    <div class="d-flex justify-content-between">
        <h6 class="fw-bold">total price : <span class="text-main">{{allProductsOfCart?.totalCartPrice}} EGP</span></h6> 
        <h6 class="fw-bold">total number of items: <span class="text-main">{{cartnumOfCartItems}}</span></h6>
    </div>
     @for (product of allProductsOfCart?.products; track $index) {
        <div class="row align-items-center border-bottom py-3" >
            <div class="col-md-2">
                <img class="w-100" [src]="product.product.imageCover" alt="">
            </div>
            <div class="col-md-10 d-flex justify-content-between">
                <div class="">
                    <h6>{{product.product.title}}</h6>
                <h6 class="text-main">price:{{product.price}}</h6>
                <button (click)="callremovecart(product.product._id)" class="btn m-0 p-0 "><i class="fa-regular fa-trash-can text-main"></i> remove</button>
        
                </div>
                <div class="">
                    <button class="btn border-main btn-sm" (click)="callupdatecountcart(product.product._id,product.count+1)"><i class="fa-solid fa-plus text-main"></i></button>
                    <span class="mx-2">{{product.count}}</span>
                    <button class="btn border-main btn-sm" (click)="callupdatecountcart(product.product._id,product.count-1)"><i class="fa-solid fa-minus text-main"></i></button>
        
                </div>
            </div>
        
        </div>
     }
   
    <!-- <button class="btn bg-main text-white mx-2"> Master </button> -->
    <div class=" text-center  mt-4">
        <button class="btn main-border btn-sm p-2" (click)="clearCart()">Clear your Cart</button>
    
        </div>
    </div>
    