<h4 class="h2 text-main text-center">Forgot Password:</h4>
@if (step==1) {
    <div class="w-75 mx-auto my-5 p-4 bg-main-light shadow rounded-4">
   
        <!-- @if (backEndError) {
            <div  class="alert alert-danger">
                {{backEndError}}
            </div>
        } -->
        <form [formGroup]="verfiyEmail" (ngSubmit)="handelVerfiyEmail()">
       
        <label for="">email:</label>
        <input formControlName="email" [ngClass]="{
            'is-valid':!verfiyEmail.get('email')?.errors &&verfiyEmail.get('email')?.touched,
            'is-invalid':verfiyEmail.get('email')?.errors &&verfiyEmail.get('email')?.touched}" type="email" class="form-control mb-2" id="email">
        @if (verfiyEmail.get('email')?.errors &&(verfiyEmail.get('email')?.touched||verfiyEmail.get('email')?.dirty)) {
            <div class="alert alert-danger" >
                @if (verfiyEmail.get('email')?.getError('required')) {
                    <p  class="m-0">email is required</p>
                }@else if (verfiyEmail.get('email')?.getError('email')) {
                    <p  class="m-0">email invalid</p>
                }
            </div>
        }
       
        <button  type="submit" [disabled]="verfiyEmail.invalid "  class="btn d-block ms-auto border-none border-0 text-white btn-main">
        <!-- @if (isLoading) {
            <i  class="fas fa-spinner fa-spin"></i>
        } -->
        <span >Verfiy Email</span> 
        </button>
        
    
    </form>
    </div>
     
}@else if (step==2) {
    <div class="w-75 mx-auto my-5 p-4 bg-main-light shadow rounded-4">
   
        <!-- @if (backEndError) {
            <div  class="alert alert-danger">
                {{backEndError}}
            </div>
        } -->
        <form [formGroup]="verfiyCode" (ngSubmit)="handelVerfiyCode()">
       
        <label for="">reset Code:</label>
        <input formControlName="resetCode" [ngClass]="{
            'is-valid':!verfiyCode.get('resetCode')?.errors &&verfiyCode.get('resetCode')?.touched,
            'is-invalid':verfiyCode.get('resetCode')?.errors &&verfiyCode.get('resetCode')?.touched}" type="text" class="form-control mb-2" id="resetCode">
        @if (verfiyCode.get('resetCode')?.errors &&(verfiyCode.get('resetCode')?.touched||verfiyCode.get('resetCode')?.dirty)) {
            <div class="alert alert-danger" >
                @if (verfiyCode.get('resetCode')?.getError('required')) {
                    <p  class="m-0">resetCode is required</p>
                }@else if (verfiyCode.get('resetCode')?.getError('pattern')) {
                    <p  class="m-0">Reset Code invalid</p>
                }
            </div>
        }
       
        <button  type="submit" [disabled]="verfiyCode.invalid "  class="btn d-block ms-auto border-none border-0 text-white btn-main">
        <!-- @if (isLoading) {
            <i  class="fas fa-spinner fa-spin"></i>
        } -->
        <span >Verfiy Code</span> 
        </button>
        
    
    </form>
    </div>
    
}@else if (step==3) {
    <div class="w-75 mx-auto my-5 p-4 bg-main-light shadow rounded-4">
   
        <!-- @if (backEndError) {
            <div  class="alert alert-danger">
                {{backEndError}}
            </div>
        } -->
        <form [formGroup]="resetPassword" (ngSubmit)="handelResetPassword()">
       
        <label for="">email:</label>
        <input formControlName="email" readonly [ngClass]="{
            'is-valid':!resetPassword.get('email')?.errors &&resetPassword.get('email')?.touched,
            'is-invalid':resetPassword.get('email')?.errors &&resetPassword.get('email')?.touched}" type="email" class="form-control mb-2" id="email">
        @if (resetPassword.get('email')?.errors &&(resetPassword.get('email')?.touched||resetPassword.get('email')?.dirty)) {
            <div class="alert alert-danger" >
                @if (resetPassword.get('email')?.getError('required')) {
                    <p  class="m-0">email is required</p>
                }@else if (resetPassword.get('email')?.getError('email')) {
                    <p  class="m-0">email invalid</p>
                }
            </div>
        }
        <label for="">password:</label>
        <input formControlName="newPassword" [ngClass]="{
            'is-valid':!resetPassword.get('newPassword')?.errors &&resetPassword.get('newPassword')?.touched,
            'is-invalid':resetPassword.get('newPassword')?.errors &&resetPassword.get('newPassword')?.touched}" type="password" class="form-control mb-2" id="newPassword">
        @if (resetPassword.get('newPassword')?.errors &&(resetPassword.get('newPassword')?.touched||resetPassword.get('newPassword')?.dirty)) {
            <div class="alert alert-danger" >
                @if (resetPassword.get('newPassword')?.getError('required')) {
                    <p  class="m-0">newPassword is required</p>
                }@else if (resetPassword.get('newPassword')?.getError('pattern')) {
                    <p  class="m-0">enter valid newPassword</p>
                }
            </div>
        }
      
        
      
      
       
        <button  type="submit" [disabled]="resetPassword.invalid "  class="btn d-block ms-auto border-none border-0 text-white btn-main">
        <!-- @if (isLoading) {
            <i  class="fas fa-spinner fa-spin"></i>
        } -->
        <span >Reset Password</span> 
        </button>
        
    
    </form>
    </div>
}










