<section class="m-5">

<div class="container">
    <div class="row g-3">
        @for (cat of allCategories; track cat._id) {
           
            <div class="col-md-4 ">
                <div class="product shadoo border">
                        <img [src]="cat.image" alt="cat.name" class="w-100" height="300">
                    <h3 class="h6 text-main fs-2 text-center fw-bold py-2">{{cat.name}}</h3>
                 </div>
            </div>
         
    }
       </div>
</div>
     
</section>
